body {
    background-color: #000000;
    color: #ffffff;
  }
  
  
  li {
    display: inline;
    list-style-type: none;
    font-size: 1.5em;
    padding: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  a{
      padding: 1.5em;
    color: #ffffff;
    text-decoration: none;
    
  }
  a:hover, a:focus {
    color: #C0C0C0;
  }
  

  
  p{
    font-size: 1.5em;
  margin-top:3em ;
  margin-left: 2em;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 400px 400px  ;
    grid-template-rows: 100px 100px;
    grid-gap: 50px;
    padding: 100px;
  }

  .grid-container > div {
    background-color: rgba(50, 0, 255, 0.8);
    text-align: center;
    padding: 40px ;
    font-size: 20px;
  }

  .a {
    background-image: url(Opera\ Momentaufnahme_2019-12-13_212306_127.0.0.1.png);
    background-size: 100%;
}
  .b {
    background-image: url(IMG-20190604-WA0010.jpg);
    background-size: 100%;
}
.c {
  background-image: url(WhatsApp\ Image\ 2020-05-19\ at\ 12.19.02.jpeg);
  background-size: 15%;
}
.d {
  background-image: url(DSCF4532.JPG);
  background-size: 50%;
}
